<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Service</title>
</head>
<body>
    <form method="post" action="/services">
        <input type="text" placeholder="Enter Service Name" name="name"/>
        <br><br>
        <textarea name="description"></textarea>
        <br><br>
        <input type="text" placeholder="Enter Location" name="location"/>
        <br><br>
        <input type="submit" value="Add Service"/>
    </form>
</body>
</html>